table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #dddddd;
}

th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#slate {
    visibility: hidden;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.price-up {
    animation: fadeOut-up 2s forwards;
    animation-delay: 3s;
    background-color: rgba(102, 255, 0, 1);
}

.price-down {
    animation: fadeOut-down 2s forwards;
    animation-delay: 3s;
    background-color: rgba(255, 36, 0, 1);
}

@keyframes fadeOut-up {
    from {background-color: rgba(102, 255, 0, 1);}
    to {background-color: rgba(102, 255, 0, 0);}
}

@keyframes fadeOut-down {
    from {background-color: rgba(255, 36, 0, 1);}
    to {background-color: rgba(255, 36, 0, 0);}
}