body {
    background-color: #222;
    color: #fff;
}

table {
    position: relative;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    border: 1px solid #808080;
    background-color: #080808;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 8px;
}

td {
    border: 1px solid #808080;
    text-align: left;
    padding: 8px;
}

tbody > tr:nth-child(even) {
    background-color: #DCDCDC;
    color: #080808;
}

tbody > tr:nth-child(odd) {
    background-color: #F5F5F5;
    color: #080808;
}

#date {
    padding-left: 5rem;
}

#slate {
    visibility: hidden;
}

.logo {
    width: 24px;
    height: 24px;
    aspect-ratio: auto 24/24;
    padding-right: 8px;
}

.teams {
    display: flex;
    align-items: center;
    /* flex-flow: row wrap; */
}

@media all and (max-width: 800px) {
    .teams {
      justify-content: space-around;
    }
}

.teams > div {
    display: flex;
    align-items: center;
    flex-basis: 45%;
}

.teams > span {
    padding-right: 13px;
}

.tooltip {
    position: relative;
    display: table-cell;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.89);
    color: #fff;
    border-radius: 6px;
    padding-right: 25px;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    right: 105%;
    /* margin-left: 0px; */
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.89);
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.price-up {
    animation: fadeOut-up 2s forwards;
    animation-delay: 3s;
    background-color: rgba(102, 255, 0, 1);
}

.price-down {
    animation: fadeOut-down 2s forwards;
    animation-delay: 3s;
    background-color: rgba(255, 36, 0, 1);
}

@keyframes fadeOut-up {
    from {background-color: rgba(102, 255, 0, 1);}
    to {background-color: rgba(102, 255, 0, 0);}
}

@keyframes fadeOut-down {
    from {background-color: rgba(255, 36, 0, 1);}
    to {background-color: rgba(255, 36, 0, 0);}
}

.grayout {
    opacity: 0.5;
}

.betover {
    background-color: green;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px black;
}

.betunder {
    background-color: red;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px black;
}

.bet-up {
    position: relative;
}

.bet-down {
    position: relative;
}

.bet-up:after {
    animation: fade-bet-up 2s forwards;
    animation-delay: 3s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0; 
    height: 0; 
    display: block;
    border-left: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-top: 13px solid rgba(0, 100, 0, 1);
}

.bet-down:after {
    animation: fade-bet-down 2s forwards;
    animation-delay: 3s;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0; 
    height: 0; 
    display: block;
    border-left: 13px solid transparent;
    border-bottom: 13px solid rgba(102, 0, 0, 1);
    border-top: 13px solid transparent;
}

@keyframes fade-bet-up {
    from {border-top: 13px solid rgba(0, 100, 0, 1);}
    to {border-top: 13px solid rgba(102, 255, 0, 0);}
}

@keyframes fade-bet-down {
    from {border-bottom: 13px solid rgba(102, 0, 0, 1);}
    to {border-bottom: 13px solid rgba(102, 0, 0, 0);}
}