{% extends "base.html" %}

{% block app_content %}
    <div class="header">
        <h2 id="date"></h2>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    <div id="table-container">
        <table>
            <tbody id="slate"></tbody>
            <thead>
                <tr>
                    <th>Teams</th>
                    <th>Game Time</th>
                    <th>Prediction</th>
                    <th>Actual Line</th>
                    <th>Total</th>
                    <th>Value 100</th>
                    <th>Value 80</th>
                    <th>Value 60</th>
                </tr>
            </thead>
        </table>
        <!-- replace loader with skeleton -->
        <div class="loader"></div> 
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}