{% extends "base.html" %}

{% block app_content %}
    <script>
        const data = {{ data | tojson }};
        console.log(data);
    </script>
    <div class="header">
        <h2 id="date">Games on {{ today }}</h2>
        <a href="{{ url_for('login') }}" target="_blank">Login</a>
    </div>
    <div id="table-container">
        <table>
            <tbody id="slate"></tbody>
            <thead>
                <tr>
                    <th>Teams</th>
                    <th>Game Time</th>
                    <th>Prediction</th>
                    <th>Actual Line</th>
                    <th>Total</th>
                    <th>Value 120</th>
                    <th>Value 100</th>
                </tr>
            </thead>
        </table>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}