<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Zell Baseball</title>
        <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha384-ZCmVL/dTQHh41JxtZe73klDRFSJ/zixGCGt5lhnLQGjSWfAnlXSg+GSnRACaK5lc" crossorigin="anonymous"></script>
    </head>
    <body>
        <h2 id="date"></h2>
        <div id="table-container">
            <table>
                <tbody id="slate"></tbody>
                <thead>
                    <tr>
                        <th>Teams</th>
                        <th>Game Time</th>
                        <th>Uncle Jack</th>
                        <th>Larry</th>
                        <th>Dragon</th>
                        <th>Actual Line</th>
                        <th>Total</th>
                        <th>Value</th>
                    </tr>
                </thead>
            </table>
            <!-- replace loader with skeleton -->
            <div class="loader"></div> 
        </div>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>